{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des modèles d'avion</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Modèle</th>
                <th>Constructeur</th>
                <th>Vitesse de croisière</th>
                <th>Nombre de sièges de l'avion</th>
                <th>Est disponible ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planeModel in planeModels %}
            <tr>
                <td><a href="{{ path('planemodel_show', { 'id': planeModel.id }) }}">{{ planeModel.id }}</a></td>
                <td>{{ planeModel.model }}</td>
                <td>{{ planeModel.manufacturer }}</td>
                <td>{{ planeModel.cruiseSpeed }}</td>
                <td>{{ planeModel.planeNbSeats }}</td>
                <td>{% if planeModel.isAvailable %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('planemodel_show', { 'id': planeModel.id }) }}">voir</a>
                        </li>
                        <li>
                            <a href="{{ path('planemodel_edit', { 'id': planeModel.id }) }}">modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="{{ path('planemodel_new') }}" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn-header">Ajouter un nouveau modèle d'avion</a>
    </div>
{% endblock %}
