{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des vols</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Nombre de sièges disponibles</th>
                <th>Tarif par siège</th>
                <th>Heure de décollage</th>
                <th>Date de publication</th>
                <th>Description</th>
                <th>Pilote</th>
                <th>Avion</th>
                <th>Le vol a été effectué</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <td><a href="{{ path('flight_show', { 'id': flight.id }) }}">{{ flight.id }}</a></td>
                <td>{{ flight.departure }}</td>
                <td>{{ flight.arrival }}</td>
                <td>{{ flight.nbFreeSeats }}</td>
                <td>{{ flight.seatPrice }}</td>
                <td>{% if flight.takeOffTime %}{{ flight.takeOffTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if flight.publicationDate %}{{ flight.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ flight.description }}</td>
                <td>{{ flight.pilot }}</td>
                <td>{{ flight.plane }}</td>
                <td>{% if flight.wasDone %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('flight_show', { 'id': flight.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('flight_edit', { 'id': flight.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('flight_new') }}">Créer un nouveau vol</a>
        </li>
    </ul>
{% endblock %}
