{% extends 'base.html.twig' %}

{% block body %}
    <h1>Flight</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flight.id }}</td>
            </tr>
            <tr>
                <th>Départ</th>
                <td>{{ flight.departure }}</td>
            </tr>
            <tr>
                <th>Arrivée</th>
                <td>{{ flight.arrival }}</td>
            </tr>
            <tr>
                <th>Nombre de sièges libres</th>
                <td>{{ flight.nbFreeSeats }}</td>
            </tr>
            <tr>
                <th>Tarif par siège</th>
                <td>{{ flight.seatPrice }}</td>
            </tr>
            <tr>
                <th>Heure de décollage</th>
                <td>{% if flight.takeOffTime %}{{ flight.takeOffTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{% if flight.publicationDate %}{{ flight.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ flight.description }}</td>
            </tr>
            <tr>
                <th>Pilote</th>
                <td>{{ flight.pilot }}</td>
            </tr>
            <tr>
                <th>Avion</th>
                <td>{{ flight.plane }}</td>
            </tr>
            <tr>
                <th>Le vol a été effectué</th>
                <td>{% if flight.wasDone %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('flight_index') }}">Retour à la liste des vols</a>
        </li>
        <li>
            <a href="{{ path('flight_edit', { 'id': flight.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
